<navbar></navbar>
<div class="c-div-container bar-margin">
<div class="c-cliente-seccion">
      <h1>Pagos</h1>
    </div>
  <div class="c-container-c-v">
    <div class="c-container-info ">
      <div class="c-container-info-column column-text">
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Folio
          </div>
        </div>

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Orders
          </div>

        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Client
          </div>
        </div>

      </div>

      <div class="c-container-info-column data">
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <input type="text" name="folio" [(ngModel)]="folio">
            </div>
          </div>
        </div>

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <select class="form-control" name="sel" [(ngModel)]="selectedOrder" (ngModelChange)="getOrderPayments()">
                    <option *ngFor="let order of orders" [ngValue]="order">
                        Folio: #{{order.folio}}
                    </option>
                </select>


          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <span class="c-label-info">
              {{selectedOrder.client.name}}
            </span>
            </div>
          </div>
        </div>
      </div>

      <!--second column-->
      <div class="c-container-info-column column-text">
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Total
          </div>
        </div>

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Restante
          </div>

        </div>

      </div>

      <div class="c-container-info-column data">
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <span class="c-label-info">
              {{selectedOrder.total | currency:'USD':true}}
              
            </span>
            </div>
          </div>
        </div>

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <span class="c-label-info">
              {{selectedOrder.debt | currency:'USD':true}}
            </span>
            </div>

          </div>
        </div>

      </div>
      <!--end second column-->

    </div>
  </div>

  <div class="c-add-product-container">
    <button type="button" class="btn btn-primary btn-md" (click)="addPayment()">Realizar Pago</button>
  </div>

  <div class="c-grid-products">
    <table class="table " id="tproductos">
      <thead>
        <tr>

          <th>Forma de pago</th>
          <th>Fecha de pago</th>
          <th>Concepto</th>
          <th>Monto</th>
        </tr>
      </thead>
      <tr class='clickable-row' data-href='#' data-toggle="modal" data-target="#basicModal" *ngFor="let payment of payments; let i = index">
            <td>{{payment.paymentWay}}</td>
            <td>{{payment.date |date:'medium'}}</td>
            <td>{{payment.concept }}</td>
            <td>{{payment.amount | currency:'USD':true }}</td>
          </tr>

    </table> 
    
  </div>
<div class="total" style="text-align:right;width:100%;">
        <span class="c-total-amount-info">Total de Pagos:</span><span class="c-total-amount"> {{totalPayments | currency:'USD':true }}</span>
      </div>


  <div id="modalPayment" class="modal" *ngIf="showModalPayment">
    <div class="modal-content">
      <span class="close" (click)="closeModalPayment()">&times;</span>
      <h1>Realizar Pago</h1>

      <div class="c-container-c-v">
        <div class="c-container-info c-container-info-modal">
          <div class="c-container-info-column column-text">

            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                Client
              </div>
            </div>

            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                Folio
              </div>

            </div>
            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                Concepto
              </div>
            </div>
            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                Total
              </div>
            </div>
    
            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                Restante
              </div>
    
            </div>
              

          </div>

          <div class="c-container-info-column data">
            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                <div class="example-full-width">
                  <span class="c-label-info">
              {{selectedOrder.client.name}}
            </span>
                </div>
              </div>
            </div>

            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                <div class="example-full-width">
                  <span class="c-label-info">
                  # {{selectedOrder.folio}}
                  </span>
                </div>
              </div>
            </div>
            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                <div class="example-full-width">
                  <input type="text" name="folio" [(ngModel)]="payment.concept">
                </div>
              </div>
            </div>

            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                <div class="example-full-width">
                  <span class="c-label-info">
                  {{selectedOrder.total | currency:'USD':true}}
                  
                </span>
                </div>
              </div>
            </div>
    
            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                <div class="example-full-width">
                  <span class="c-label-info">
                  {{selectedOrder.debt | currency:'USD':true}}
                </span>
                </div>
    
              </div>
            </div>
            
          </div>


          <!--second column-->
          <div class="c-container-info-column column-text">
            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                Fecha de Pago
              </div>
            </div>

            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                Forma de Pago
              </div>

            </div>
            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                Monto
              </div>
            </div>
          </div>

          <div class="c-container-info-column data">
            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                <div class="example-full-width">
                  <span class="c-label-info">
                    {{todayDate}}
                </span>
                </div>
              </div>
            </div>
            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                <div class="example-full-width">
                  <span class="c-label-info">
                    <select type="text" name="paymentWay" [(ngModel)]="payment.paymentWay">
                      <option>Efectivo</option>
                      <option>Cheque</option>
                      <option>Transferencia</option>
                    </select>
                  </span>
                </div>
              </div>
            </div>
            <div class="c-container-info-column-item-container">
              <div class="c-container-info-column-item-container info">
                <div class="example-full-width">
                  <input type="text" name="amount" [(ngModel)]="payment.amount">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end second column-->

      </div>
      <div class="c-add-product-container">
    <button type="button" class="btn btn-primary btn-md" (click)="makePayment()">Pagar</button>
  </div>
      <!--TODO: Agregar inputs y realizasr post request para agregar un pago a la orden seleccionada (selectedOrder._id) -->
    </div>
  </div>


</div>
