<div class="c-div-bgr bar-margin">
  <div class="c-cliente-seccion">
    <h1>Transfer</h1>
  </div>

  <div class="c-div-container">


    <div class="c-container-info">

      <div class="c-container-info-column">
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Posicion
          </div>
        </div>

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Tamaño
          </div>
        </div>

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Cantidad
          </div>
        </div>

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <input type="checkbox" name="wItem" [(ngModel)]="transfer.wItem" (change)="getTransferValue()">
            Con prenda
          </div>
        </div>

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Precio:
          </div>
        </div>
      </div>

      <div class="c-container-info-column">

       <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <select type="text" name="transferUbication" [(ngModel)]="transferUbicationSelected"  >
               <option *ngFor="let transferUbication of transferUbications" [ngValue]="transferUbication" >
                 {{transferUbication.ubicaciones}}
                </option>
            </select>
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <select type="text" name="transferSize" [(ngModel)]="transferSizeSelected" >
               <option *ngFor="let transferSize of transferSizes" [ngValue]="transferSize" >
                 {{transferSize.size}}
                </option>
            </select>
          </div>
        </div>

         <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <input type="number" name="size" [(ngModel)]="transfer.quantity" (blur)="getTransferValue()">
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
              <div class="example-full-width">
                <label >{{transfer.price| currency:'USD':true}}</label>
              </div> 
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="c-add-product-container">
    <button type="button" class="btn btn-primary btn-md" (click)="addTransfer()">Agregar Tecnica</button>
  </div>

