
<div class="c-div-bgr bar-margin">
  <div class="c-cliente-seccion">
      <h1>Bordado</h1>
    </div>

  <div class="c-div-container">

    
    <div class="c-container-info">

      <div class="c-container-info-column">
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Tipo de bordado
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Colores
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Tamaño
          </div>
        </div>
        
       

      </div>
      
  <div class="c-container-info-column">

    <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
           <select type="text" name="bordado">
                <option *ngFor="let tecnica of tecnicas; let i = index">{{tecnica.bordado}}</option>
              </select>
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
           <select type="text" name="bordado">
                <option *ngFor="let tecnica of tecnicas; let i = index">{{tecnica.colores}}</option>
              </select>
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
          <select type="text" name="size" [(ngModel)]="tecnica.size">
             <option>Escudo</option>
             <option>Carta</option>
             <option>Grande</option>
             <option>Chico</option>
          </select>
          </div>
        </div>        
     

      </div>
     
        
      <div class="c-container-info-column data">
         <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Ubicacion
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Puntadas
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Precio
          </div>
        </div>
        
</div>
      
  <div class="c-container-info-column data">
      <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
           <select type="text" name="position" [(ngModel)]="tecnica.position">
           </select>
          </div>
        </div>

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
                <input type="number" name="price" [(ngModel)]="tecnica.puntadas">
            </div>
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
                <input type="number" name="price" [(ngModel)]="tecnica.price" >
            </div>
          </div>
        </div>
</div>
        

    </div>
 <div class="c-add-product-container">
        <!--<button md-raised-button color="primary" (click)="addProducto(productoSelected)">Agregar Producto</button>-->
        <button  type="button" class="btn btn-primary btn-md" (click)="agregarTecnica()">Agregar Tecnica</button>
        
      </div>