<div class="c-div-bgr bar-margin">
  <div class="c-cliente-seccion">
    <h1>Serigrafia</h1>
  </div>

  <div class="c-div-container">


    <div class="c-container-info">

      <div class="c-container-info-column">
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Posicion
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Tipo de tinta
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Tamaño
          </div>
        </div>
        <!-- <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Subtotal
          </div>
        </div> -->
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Sub Total
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Precio
          </div>
        </div>
      </div>

      <div class="c-container-info-column">

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <select type="text" name="bordado" [(ngModel)]="serigrafiaUbicationSelected"  >
               <option *ngFor="let serigrafiaUbication of serigrafiaUbications" [ngValue]="serigrafiaUbication" >
                 {{serigrafiaUbication.ubicaciones}}
                </option>
            </select>
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <select type="text" name="bordado" [(ngModel)]="serigrafiaInkTypeSelected" >
               <option *ngFor="let serigrafiaInkType of serigrafiaInkTypes" [ngValue]="serigrafiaInkType" >
                 {{serigrafiaInkType.tipotinta}}
                </option>
            </select>
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <select type="text" name="bordado" [(ngModel)]="serigrafiaSizeSelected" >
               <option *ngFor="let serigrafiaSize of serigrafiaSizes" [ngValue]="serigrafiaSize" >
                 {{serigrafiaSize.size}}
                </option>
            </select>
          </div>
        </div>
        <!-- <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
              <div class="example-full-width">
                <label >{{serigrafia.price | currency:'USD':true}}</label>
              </div> 
          </div>
          </div> -->
          <div class="c-container-info-column-item-container">
            <div class="c-container-info-column-item-container info">
                <div class="example-full-width">
                  <label >{{(serigrafia.price +  serigrafiaInkTypeSelected.costo +  serigrafiaSizeSelected.costo)| currency:'USD':true}}</label>
                </div> 
            </div>
            </div>
        <div class="c-container-info-column-item-container">
        <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <label >{{(serigrafia.price +  serigrafiaInkTypeSelected.costo +  serigrafiaSizeSelected.costo)*(serigrafia.quantity)| currency:'USD':true}}</label>
            </div> 
        </div>
        </div>
      </div>

      <div class="c-container-info-column data">

         <div class="c-container-info-column-item-container">
           <div class="c-container-info-column-item-container info">
                Cantidad de tintas
              </div>
         </div>

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Cantidad de prendas
          </div>
        </div>

         <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <input type="checkbox" name="wItem" [(ngModel)]="serigrafia.wPresecado" (change)="setPresecado()">
            Presecado y revelado
          </div>
        </div> 

      </div>

      <div class="c-container-info-column data">
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <input type="number" name="tintas" [(ngModel)]="serigrafia.tintas" (blur)="getSerigrafiaValue($event)">
            </div> 
        </div>
        <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <input type="number" name="quantity" [(ngModel)]="serigrafia.quantity" (blur)="getSerigrafiaValue($event)" >
            </div> 
        </div>
           
      </div>
    </div>
    </div>
    <div class="c-add-product-container">
      <!--<button md-raised-button color="primary" (click)="addProducto(productoSelected)">Agregar Producto</button>-->
      <button type="button" class="btn btn-primary btn-md" (click)="agregarTecnica()">Agregar Tecnica</button>

    </div>