<div class="c-div-bgr bar-margin">
  <div class="c-cliente-seccion">
    <h1>Bordado</h1>
  </div>

  <div class="c-div-container">


    <div class="c-container-info">

      <div class="c-container-info-column">
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Tipo de bordado
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Colores
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Tamaño
          </div>
        </div>



      </div>

      <div class="c-container-info-column">

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <select type="text" name="bordado" [(ngModel)]="bordadoTypeSelected" (ngModelChange)="selectBordadoType($event)">
         <option *ngFor="let bordadotipo of bordadoTypes" [ngValue]="bordadotipo" >
           {{bordadotipo.nombre}}
          </option>
              </select>
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <ss-multiselect-dropdown [options]="colorOptions" [(ngModel)]="bordadoColoresSelected"  [texts]="multiConfig" ></ss-multiselect-dropdown>

            <!-- <select>
                <option *ngFor="let color of bordadoColores; let i = index">{{color.color}}</option>
              </select> -->

          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <select type="text" name="bordadoSize" [(ngModel)]="bordadoSizeSelected" (ngModelChange)="selectBordadoSize($event)">
                  <option *ngFor="let bordadoSize of bordadoSizes" [ngValue]="bordadoSize" >
                    {{bordadoSize.size}}
                   </option>
              </select>
          </div>
        </div>


      </div>


      <div class="c-container-info-column data">
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Ubicacion
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Puntadas
          </div>
        </div>

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Cantidad
          </div>
        </div>

      </div>

      <div class="c-container-info-column data">
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <select type="text" name="bordadoPosition" [(ngModel)]="bordadoPositionSelected" (ngModelChange)="selectBordadoPosition($event)">
                  <option *ngFor="let bordadoPosition of bordadoPositions" [ngValue]="bordadoPosition" >
                    {{bordadoPosition.posiciones}}
                   </option>
              </select>
          </div>
        </div>

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <!-- <select type="text" name="bordadoStitch"  [(ngModel)]="bordadoStitchSelected" (ngModelChange)="selectBordadoStitch($event)">
                    <option *ngFor="let bordadoStitch of bordadoStitches" [ngValue]="bordadoStitch" >
                      {{bordadoStitch.nombre}}
                     </option>
                </select> -->
              <input type="number" name="price" [(ngModel)]="bordado.puntadas">
            </div>
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <input type="number" name="price" [(ngModel)]="bordado.cantidad">
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="c-add-product-container">
      <!--<button md-raised-button color="primary" (click)="addProducto(productoSelected)">Agregar Producto</button>-->
      <button type="button" class="btn btn-primary btn-md" (click)="addBordadoTecnica()">Agregar Tecnica</button>
       Precio:{{bordado.cantidad*( bordado.price + appConfig.bordado)| currency:'USD':true}}
    </div>

