<div class="c-div-bgr bar-margin">
  <div class="c-cliente-seccion">
    <h1>Sublimado</h1>
  </div>

  <div class="c-div-container">


    <div class="c-container-info">

      <div class="c-container-info-column">
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Posicion
          </div>
        </div>

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Tamaño
          </div>
        </div>

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Cantidad
          </div>
        </div>
        <!-- <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <input type="checkbox" name="wItem" [(ngModel)]="sublimado.wItem" (change)="getSublimadoValue()">
            Con prenda
          </div>
        </div> -->
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Sub total:
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Precio:
          </div>
        </div>
      </div>

      <div class="c-container-info-column">

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <select type="text" name="bordado" [(ngModel)]="sublimadoUbicationSelected"  >
               <option *ngFor="let sublimadoUbication of sublimadoUbications" [ngValue]="sublimadoUbication" >
                 {{sublimadoUbication.ubicaciones}}
                </option>
            </select>
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <select type="text" name="bordado" [(ngModel)]="sublimadoSizeSelected" >
               <option *ngFor="let sublimadoSize of sublimadosSizes" [ngValue]="sublimadoSize" >
                 {{sublimadoSize.size}}
                </option>
            </select>
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <input type="number" name="size" [(ngModel)]="sublimado.quantity" (blur)="getSublimadoValue()">
          </div>
        </div>
        <!-- <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
          </div>
        </div> -->
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
              <div class="example-full-width">
                <label >{{sublimado.price + sublimadoSizeSelected.costo| currency:'USD':true}}</label>
              </div> 
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
              <div class="example-full-width">
                <label >{{sublimado.price + sublimadoSizeSelected.costo * sublimado.quantity| currency:'USD':true}}</label>
              </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-add-product-container">
    <button type="button" class="btn btn-primary btn-md" (click)="addSublimado()">Agregar Tecnica</button>
  </div>

