<navbar></navbar>
<div class="c-div-bgr bar-margin">
     <div class="c-cliente-seccion">
      <h1>Pedidos Pendientes por Pagar</h1>
    </div>
  <div class="c-div-container">
       
    <div class="c-grid-products">
      <table class="table " id="tproductos">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Folio</th>
            <!-- <th>Numero de factura</th> -->
            <th>Fecha</th>
            <th>Anticipo</th>
            <th>Resto</th>
            <th>Total</th>
            <th>Editar</th>
            
          </tr>
        </thead>
        <tr class='clickable-row' *ngFor="let order of orders; let i = index">
          <td>{{order.client.name}}</td>
          <td>{{order.seller.name}}</td>
          <td>{{order.folio}}</td>
          <!-- <td>{{order.shippingWay}}</td> -->
          <td>{{order.shippingDate |date}}</td>
          <td>{{order.advance | currency:'USD':true}}</td>
          <td>{{order.debt | currency:'USD':true}}</td>
          <td>{{order.total | currency:'USD':true}}</td>
          <td style="float:right"><button type="button" class="btn btn-primary btn-md" (click)="setEditMode(order)">Editar</button>
        </tr>

      </table>
    </div>

  </div>
</div>
