<navbar></navbar>
<div class="c-div-bgr bar-margin">
  <div class="c-cliente-seccion">
    <h1>Alta de usuario</h1>
  </div>
  <div class="c-div-container">



    <div class="c-container-info">

      <div class="c-container-info-column">
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Nombre
          </div>

        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Email
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Nombre de usuario
          </div>
        </div>
        <!-- <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            RFC
          </div>
        </div>-->

      </div>

      <div class="c-container-info-column data">
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">

            <input type="text" name="nombre" [(ngModel)]="user.name">

          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <input type="text" name="email" [(ngModel)]="user.email">
            </div>
          </div>
        </div>
        <!--
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <input type="text" name="telefono" [(ngModel)]="cliente.phone">
            </div>
          </div>
        </div>-->
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <input type="text"   [(ngModel)]="user.username">
            </div>
          </div>
        </div>

      </div>


      <div class="c-container-info-column">

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Contraseña
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Tipo de usuario
          </div>
        </div>
        <!--<div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Razón Social
          </div>
        </div>-->
      </div>

      <div class="c-container-info-column data">

        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <input type="password"  [(ngModel)]="user.password">
            </div>
          </div>
        </div>
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <select type="text" name="role" [(ngModel)]="roleSelected">
                  <option *ngFor="let role of roles" [ngValue]="role">
                    {{role.name}}
                </option>          
              </select>
            </div>
          </div>
        </div>
        <!--<div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <input type="text" name="razonSocial" [(ngModel)]="cliente.businessName">
            </div>

          </div>
        </div>-->
      </div>

    </div>
    <div class="c-add-product-container">
      <!--<button md-raised-button color="primary" (click)="addProducto(productoSelected)">Agregar Producto</button>-->
      <button type="button" class="btn btn-primary btn-md" (click)="register()">Agregar Usuario</button>

    </div>

    
    <div class="c-grid-products">
      <table class="table " id="tproductos">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Nombre de usuario</th>
            <th>Contraseña</th>
            <th>Tipo de usuario</th>
            <th></th>
           
            <th></th>
          </tr>
        </thead>
        <tr class='clickable-row' *ngFor="let user of users;">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.username}}</td>
          <td>{{user.password}}</td>
          <td>{{user.role.name}}</td>
          <th><button  type="button" class="btn btn-primary btn-md" (click)="deleteRow(user)">Eliminar</button></th>
          
        </tr>

      </table>


    </div>

    <!--clients-list [clientes]="clientes" *ngIf="show" ></clients-list>-->
  </div>
</div>
