<div class="c-div-container">
  <div class="c-container-info">
    <div class="c-container-info-column">
      <div class="c-container-info-column-item-container">
        <div class="c-container-info-column-item-container info">
          Nombre
        </div>
      </div>
      <div class="c-container-info-column-item-container">
        <div class="c-container-info-column-item-container info">
          Email
        </div>
      </div>
      <div class="c-container-info-column-item-container">
        <div class="c-container-info-column-item-container info">
          Teléfono
        </div>
      </div>
      <div class="c-container-info-column-item-container">
        <div class="c-container-info-column-item-container info">
          RFC
        </div>
      </div>
    </div>

    <div class="c-container-info-column data">
      <div class="c-container-info-column-item-container">
        <div class="c-container-info-column-item-container info">
          <input type="text" name="nombre" [(ngModel)]="cliente.name">
        </div>
      </div>
      <div class="c-container-info-column-item-container">
        <div class="c-container-info-column-item-container info">
          <div class="example-full-width">
            <input type="text" name="email" [(ngModel)]="cliente.email">
          </div>
        </div>
      </div>
      <div class="c-container-info-column-item-container">
        <div class="c-container-info-column-item-container info">
          <div class="example-full-width">
            <input type="text" name="telefono" [(ngModel)]="cliente.phone">
          </div>
        </div>
      </div>
      <div class="c-container-info-column-item-container">
        <div class="c-container-info-column-item-container info">
          <div class="example-full-width">
            <input type="text" name="rfc" [(ngModel)]="cliente.rfc">
          </div>
        </div>
      </div>

    </div>


    <div class="c-container-info-column">
        <div class="c-container-info-column-item-container">
            <div class="c-container-info-column-item-container info">
              Código
            </div>
          </div> 
      <div class="c-container-info-column-item-container">
        <div class="c-container-info-column-item-container info">
          Direccion
        </div>
      </div> 
      <div class="c-container-info-column-item-container">
        <div class="c-container-info-column-item-container info">
          Razón Social
        </div>
      </div>

      <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            Vendedor
          </div>
        </div>
    </div>
    <div class="c-container-info-column data">
        <div class="c-container-info-column-item-container">
          <div class="c-container-info-column-item-container info">
            <div class="example-full-width">
              <input type="text" name="code" [(ngModel)]="cliente.code">
            </div>
          </div>
        </div>
    <div class="c-container-info-column data">
      <div class="c-container-info-column-item-container">
        <div class="c-container-info-column-item-container info">
          <div class="example-full-width">
            <input type="text" name="address" [(ngModel)]="cliente.address">
          </div>
        </div>
      </div>
    
      <div class="c-container-info-column-item-container">
        <div class="c-container-info-column-item-container info">
          <div class="example-full-width">
            <input type="text" name="razonSocial" [(ngModel)]="cliente.businessName">
          </div>

        </div>
      </div>

      <div class="c-container-info-column-item-container">
           <div class="c-container-info-column-item-container info">
            <select class="form-control" name="sel" [(ngModel)]="userSelected">
                  <option *ngFor="let user of users" [ngValue]="user">
                      {{user.name}}
                  </option>
              </select>
            </div>
        </div>
    </div>

  </div>

  <div class="c-add-product-container" >
    <button *ngIf="isEditing == false" type="button" class="btn btn-primary btn-md" (click)="addClient()">Agregar Cliente</button>
    <button *ngIf="isEditing == true" type="button" class="btn btn-primary btn-md" (click)="saveEdit(cliente)">Guardar cambios</button>
    <button *ngIf="isEditing == true" type="button" class="btn btn-primary btn-md" (click)="cancelEdit()">Cancelar</button>
  </div>
</div>

