h1 {
  color: #5B7290;
      font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 250%;
}
input[type=text], select {
    width: 100%;
    padding: 6px 10px;
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-primary{
  font-size: 1.3em;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.c-div-bgr{
 
}
.c-div-container{
  width: 90%;
    margin-top: 30px;
    margin-left: 5%;
} 
.c-fecha-elaboracion-container{
  width:100%;
      margin-top: 20px;
    height: 10px;
}
.c-fecha-elaboracion{
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  float: right
}
.c-cliente-seccion{
  width: 100%;
    margin-left: 5%;
}
li{
color: white;

}

.input-price{
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  width: 110px;
}

 

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}
 
 

.c-tecnicas .tooltiptext {
    visibility: hidden;
    width: 120px;
    
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.c-tecnicas:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.c-tecnicas{
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  margin-right: 20px;
  font-weight: 300;
  font-size: small
}
.c-tecnicas.normal{
  background-color: #eaeaea;
  
  
}
.c-tecnicas.selected{
  border-style: solid;
    border-width: 1px;
  background-color:paleturquoise;
  color:white;
  border-color: #e2e2e2;
  
  
}
.c-container-info{
    width: 100%;
    background: #f4f7f8;
    height: 200px;
    margin-bottom: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #e2e2e2;
}

.c-container-info-column{
    width: calc(100%/4);
    height: 100%;
    
    float: left;
}
.c-container-info-column.data{
  width: calc(100%/4);
  height: 100%;    
    float: left;
}

.c-container-info-column-item-container{
    height: 40px;
    padding: 10px;
}
.c-container-info-column-item-container.info{
  text-align: left;
     
}
.c-label-info{
  background: transparent;
}
.c-add-product-container{
  text-align: right;
  height: 30px;
  margin-bottom: 30px;
}
.c-grid-products{
  height: 500px;
  overflow: auto;
}
.c-grid-all-products{
  height: 500px;
  overflow: auto;
  margin-top: 40px;
}

.c-grid-all-products table{
  width: 80%;
  
  padding: 0%;
}



.c-grid-all-products table th{
  padding: 10px;
}
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.c-total-amount-info{
font-size: 24px;
}

.c-total-amount{
  font-size: 28px;
      font-weight: 600;
}