<div class="app-bar">
  <div class="logo">
    <a routerLink="/"><img src="http://www.bordesa.com.mx/images/logo2.png"/></a>
</div>
<div class="username-bar" *ngIf="!isLogin">
    <label>Bienvenido, {{user.username}}</label>
</div>
  <ul class="bar-childs" *ngIf="!isLogin">

    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class=" font-size: large;"> Cotizaciones </span><span class="caret"></span></a>
      <ul class="dropdown-menu pulse animated ">
        <li><a routerLink="/cotizador">Nueva</a></li>
        <li role="presentation" class="divider"></li>
        <li><a routerLink="/payment">Pagar orden</a></li>
        <li role="presentation" class="divider"></li>
        <li><a routerLink="/orders">Ver Pedidos</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="font-size: large; "> Productos de venta </span><span class="caret"></span></a>
      <ul class="dropdown-menu pulse animated">
        <li><a routerLink="/nuevoproducto">Nuevo Producto</a></li>
        <li role="presentation" class="divider"></li>
        <li><a routerLink="/inventario">Ver productos</a></li>
      </ul>
    </li>

    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="font-size: large; "> Clientes </span><span class="caret"></span></a>
      <ul class="dropdown-menu pulse animated">
        <li><a routerLink="/clientes">Clientes</a></li>
      </ul>
    </li>

    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class=" font-size: large;"> Reportes </span><span class="caret"></span></a>
      <ul class="dropdown-menu pulse animated">
        <li><a routerLink="/bordadoreport">Reportes de bordado</a></li>
        <li role="presentation" class="divider"></li>
        <li><a routerLink="/disenoreport">Reportes de diseño</a></li>
        <li role="presentation" class="divider"></li>
        <li><a routerLink="/verreportes">Ver Reportes</a></li>
      </ul>
    </li>


    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class=" font-size: large;"> Configuración </span><span class="caret"></span></a>
      <ul class="dropdown-menu pulse animated">
        <li><a routerLink="/register">Registrar usuario</a></li>
        <li role="presentation" class="divider"></li>
        <li><a routerLink="/tecnicas">Técnicas</a></li>
        <li role="presentation" class="divider"></li>
        <li><a routerLink="/categorias">Categorías</a></li>
        <li role="presentation" class="divider"></li>
        <li><a routerLink="/sellers">Vendedores</a></li>
        <li role="presentation" class="divider"></li>
        <li><a (click)="logout()">Cerrar Sesión</a></li>
      </ul>
    </li>

  </ul>
  <!--</div>-->
</div>

