.dropdown:hover .dropdown-menu {
   display: block;
}

.navbar{
    background-color:  #262E49
}

.app-bar{
      width: 100%;
    background-color: #262E49;
    z-index: 999;
    top: 0;
    padding: 10px 0px;
}

.logo{
  display: inline-block;
    text-align: right;
}

.username-bar{
          display: inline-block;
    color: white;
    width: 20%;
    text-align: right;
    vertical-align: middle;
}
.bar-childs{
        display: inline-block;
    color: white;
    
    text-align: right;
}

.bar-child{
            width: 15%;
    display: inline-block;
    text-align: center;
}
.dropdown{
display: inline-block;
    background-color:#262E49;
}

li > a{
    color: white;
}


.dropdown li > a{
    color: black;
}
.bar-childs .dropdown{
    padding: 20px;
        font-size: large;
}
 


.username-bar label{
    font-size: 25px;
}