<ul class="nav nav-tabs">
    
   <li><a [ngClass]="{'tab-selected': showBordado,'tab-no-selected':!showBordado}"  style="cursor:pointer"  (click)="showBordado=true;showSerigrafia=false;showSublimado=false;">Precio de bordados</a></li>
   <li><a [ngClass]="{'tab-selected': showSerigrafia,'tab-no-selected':!showSerigrafia}"  style="cursor:pointer" (click)="showBordado=false;showSerigrafia=true;showSublimado=false;">Precios puntadas</a></li>
   <li><a [ngClass]="{'tab-selected': showSublimado,'tab-no-selected':!showSublimado}"  style="cursor:pointer"  (click)="showBordado=false;showSerigrafia=false;showSublimado=true;">Precio Tamaños</a></li>
</ul>

<div style="width:100%">
  <div style="width:100%;height:300px;" *ngIf="showBordado">
      <bordado-tipo [appConfig]="appConfig"></bordado-tipo>          
  </div>
  
  <div style="cursor:pointer;width:100%;height:300px;" *ngIf="showSerigrafia">
    <bordado-puntadas></bordado-puntadas>
  </div>
  
  <div style="cursor:pointer;width:100%;height:300px;" *ngIf="showSublimado">
    <bordado-size></bordado-size>
  </div>
</div>
<div>
  
<h1>Precio Base: {{appConfig.bordado | currency:'USD':true}}</h1> 
</div>