<ul class="nav nav-tabs">
    
   <li><a [ngClass]="{'tab-selected': showBordado,'tab-no-selected':!showBordado}"  style="cursor:pointer"  (click)="showBordado=true;showSerigrafia=false;showSublimado=false;showPosiciones=false;showColores=false">Tamaños</a></li>
   <li><a [ngClass]="{'tab-selected': showSerigrafia,'tab-no-selected':!showSerigrafia}"  style="cursor:pointer" (click)="showBordado=false;showSerigrafia=true;showSublimado=false;showPosiciones=false;showColores=false">Precios</a></li>
   <li><a [ngClass]="{'tab-selected': showSublimado,'tab-no-selected':!showSublimado}"  style="cursor:pointer"  (click)="showBordado=false;showSerigrafia=false;showSublimado=true;showPosiciones=false;showColores=false">Precio Maquila</a></li>
   <li><a [ngClass]="{'tab-selected': showPosiciones,'tab-no-selected':!showPosiciones}"  style="cursor:pointer"  (click)="showBordado=false;showSerigrafia=false;showSublimado=false;showPosiciones=true;showColores=false;">Posiciones</a></li>
   
</ul>
<div>
    
  <h1>Precio Base: {{appConfig.bordado | currency:'USD':true}}</h1> 
  </div>

<div style="width:100%">
  <div style="width:100%;height:300px;" *ngIf="showBordado">
      <vinil-tipo></vinil-tipo>
  </div>
  
  <div style="cursor:pointer;width:100%;height:300px;" *ngIf="showSerigrafia">
  </div>
  
  <div style="cursor:pointer;width:100%;height:300px;" *ngIf="showSublimado">
  </div>
  <div style="cursor:pointer;width:100%;height:300px;" *ngIf="showPosiciones">
  </div>
  
</div>
